<%- model_class = RunscopeTest -%>
<div class="page-header">
  <h1><%=t '.title', :default => RunscopeTest %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @runscope_tests.each do |runscope_test| %>
      <tr>
        <td><%= runscope_test.id %></td>
        <td><%= runscope_test.name %></td>
        <td><%= link_to  runscope_test.url, runscope_test.url, :target => '_blank' %></td>
        <td><%=l runscope_test.created_at, format: :long %></td>
        <td><button type="button" ><%= link_to 'TEST', runscope_test.url, :target => '_blank' %></button></td>
        <td>
          <%= link_to runscope_test_path(runscope_test), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <!--<%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>-->
            <button type="button">View</button>
          <%- end -%>
          <%= link_to runscope_test_path(runscope_test), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <!--<%= glyph 'remove' %> -->
            <button type="button">Delete</button>
            <td><button type="button", action="/request" method="GET" ><%= link_to 'Results', runscope_test.url, :target => '_blank' %></button></td>

          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_runscope_test_path,
            :class => 'btn btn-primary' %>
