<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @runscope_test.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @runscope_test.url %>
</p>

<%= link_to 'Edit', edit_runscope_test_path(@runscope_test) %> |
<%= link_to 'Back', runscope_tests_path %>
